@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');

:root{
    --color-sena: #20986A;
    --color-quina: #4c3487;
    --color-facil: #95018B;
    --color-mania: #E96B00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    display: grid;
    grid-template-columns: 90px auto;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(25, 45, 88, 0.159);
}

.sena-box{
    width: 620px;
    padding: 10px;
    height: 300px;
    background-color: rgba(83, 83, 83, 0.363);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.facil-box{
    width: 620px;
    padding: 10px;
    height: 150px;
    background-color: rgba(83, 83, 83, 0.363);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1{
    font-weight: 100;
    font-size: 1.4em;
    margin: 10px;
}
.number, .exit{
    width: 40px;
    height: 40px;
    background-color: gray;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.background-sena{
    background-color: var(--color-sena);
}

.background-quina{
    background-color: var(--color-quina);
}

.background-facil{
    background-color: var(--color-facil);
}

.background-mania{
    background-color: var(--color-mania);
}

.exit-sena{
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.512);    
}

.exit-quina{
    background-color: var(--color-quina);
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.512);

}

.generate{
    color: whitesmoke;
    box-shadow: none;
    border: none;
    padding: 7px;
    margin: 10px;
    font-size: 1.4em;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.512);
}

.generate:hover{
    cursor: pointer;
}

.generated-numbers{
    display: flex;
    flex-direction: row;
    background-color: rgba(83, 83, 83, 0.363);
    border-radius: 5px;
    padding: 5px;
    max-width: 620px;
    flex-wrap: wrap;
}

.menu{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.603) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}

.menu h2{
    font-weight: 300;
    margin: 20px;
}

.box-menu img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 10px;
}
.box-menu p{
    text-align: center;
}

.menu img:hover{
    cursor: pointer;
}

.container{
    width: 97%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quina-box{
    width: 620px;
    padding: 10px;
    height: 400px;
    background-color: rgba(83, 83, 83, 0.363);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mania-box{
    width: 620px;
    padding: 10px;
    height: 400px;
    background-color: rgba(83, 83, 83, 0.363);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media(max-width: 700px){
    body{
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .sena-box{
        display: grid;
        height: auto;
        width: 100%;
        height: auto;
        grid-template-columns: auto auto auto auto auto auto;
    }
    .quina-box{
        display: grid;
        width: 100%;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        height: auto;
    }
    .facil-box{
        display: grid;
        width: 100%;
        grid-template-columns: auto auto auto auto auto;
        height: auto;
    }
    .mania-box{
        display: grid;
        width: 100%;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        height: auto;
    }
    h1{
        font-size: 1.4em;
        margin: 20px;
    }
    .menu{
    width: 100%;    
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }
    .box-menu{
        height: 100%;
    }
    /* #principal{
        display: grid;
        
    } */
    .box-menu img{
        height: 50px;
    }
    .number{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 35px;
        height: 35px;
    }
    .menu h2{
        display: none;
    }
}
.shadow{
    box-shadow: 3px 4px 3px rgba(0, 0, 0, 0.512);
}